.container {
    display: flex;
    min-height: 100vh;
}

.mainContent {
    flex: 1;
    margin-left: 260px;
    /* Match Sidebar width */
    display: flex;
    flex-direction: column;
    position: relative;
    z-index: 1;
    /* Above background */
}

.pageContent {
    padding: 2rem;
    flex: 1;
    overflow-y: auto;
}